<!DOCTYPE html>
{% extends 'spotiview/base.html' %}
{% load staticfiles %} 

{% block title %}
    About
{% endblock %}

{% block body %}
    <h1><strong>About Page</strong></h1>
{% endblock %}
{% for comment in comments %}
                            <div class="comment">
                              <p class="info">
                                Comment {{ forloop.counter }} by {{ comment.name }}
                                {{ comment.created }}
                              </p>
                              {{ comment.body|linebreaks }}
                            </div>
                          {% empty %}
                            <p>There are no comments yet.</p>
                            {% if new_comment %}
                            <p>Your comment has been added.</p>
                          {% else %}
                            <p>Add a new comment</p>
                            <form action="." method="post">
                              {{ comment_form.as_p }}
                              {% csrf_token %}
                              <p><input type="submit" value="Add comment"></p>
                            </form>
                          {% endif %}
                          {% endfor %}