<!DOCTYPE html>
{% extends 'spotiview/base.html' %}
{% load staticfiles %} 

{% block title %}
    About
{% endblock %}

{% block leftblock %}
<div class="container">
  <h1>About Our Application</h1>
  <p>Our goal is to create a community for music lovers where they can discover and share their favorite songs. Our application allows users to explore a selection of top songs curated by other users, and to add their own songs to the collection using the Spotify API. Users can interact with the community by liking and commenting on songs, and seeing what other users have to say. The app also features a leaderboard showcasing the top songs overall, as well as top songs by category.</p>
  <h2>Key Features</h2>
  <ul>
    <li>Search for songs using Spotify search API</li>
    <li>Registered users can add songs to the collection</li>
    <li>User registration and account deletion</li>
    <li>User authentication and login functionality</li>
    <li>Change password and logout</li>
    <li>View top liked songs on the website</li>
    <li>Like, dislike, and comment on songs</li>
    <li>View a personalized list of liked songs</li>
  </ul>

<h2>Our Developers</h2>
  <ul>
    <li>Arron Curry done nothing</li>
    <li>Alan Gardiner</li>
    <li>Ruari O'Hara</li>
    <li>Raaed Sattar</li>
    <li>Boris Velinov</li>
    <li>Ahmet Yucel</li>
  </ul>
</div>
{% endblock %}