#UserNameAndPFP{
    margin-left: 10px;
}

#leftContent{
    margin-left: 1.5rem;
}

#UserPFP{
    border-radius: 66%;
}

#trackDetails{
margin-bottom: 0px;
}

#coverImageWidth{
    width: 60px;
}